<div class="container">
  <div class="row">
    <h2>DVD Search</h2>
    <form action="/dvds" method="get">
           <div id="custom-search-input">
                  <div class="input-group col-md-12">
                        <input type="text" class="search-query form-control" placeholder="Search" name="dvdTitle" >
                    <span class="input-group-btn">
                          <button class="btn btn-danger" type="">
                              <span class=" glyphicon glyphicon-search"></span>
                          </button>
                      </span>
                  </div>
             </div>
             <button class="btn btn-danger" style="margin-top:20px" type="submit">Search</button>
          </form>
  </div>
</div>
